<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Atividades</title>
</head>
<body>

    <h1>Minha Lista de Atividades</h1>

    <!-- Formulário para adicionar uma nova atividade -->
    <form action="/POST" method="post">
        <label for="nomeAtividade">Nome Atividade:</label>
        <input type="text" id="nomeAtividade" name="nomeAtividade" required>

        <br>

        <label for="livroParaLer">Livro para ler:</label>
        <input type="text" id="livroParaLer" name="livroParaLer" required>

        <br>

        <label for="videoParaAssistir">Vídeo para assistir:</label>
        <input type="text" id="videoParaAssistir" name="videoParaAssistir" required>

        <br>

        <input type="submit" value="Salvar">
    </form>

    <!-- Botão para consultar analíticas -->
    <form action="/consultar_analiticas" method="get">
        <input type="submit" value="Consultar Analíticas">
    </form>

</body>
</html>
